<a href="https://colab.research.google.com/github/sergiroduc3m/IESE-FRA-presession-24/blob/main/notebooks/intro_pythonSERGIO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/unstructured-data/IESE-FRA-presession-24/blob/main/notebooks/intro_python.ipynb)


This is the complete version of the notebook that gets generated through the video. If you want to see the empty version of the notebook that I use as the starting point of the video go [here](./empty_notebooks/intro_python.ipynb).

## Why Python?

- Great implementations of machine learning methods
  - [scikit-learn](https://scikit-learn.org/stable/): logistic regression, decision trees, clustering algorithms, and much more.
  - [PyTorch](https://pytorch.org/), [Keras](https://keras.io), [JAX](https://jax.readthedocs.io/en/latest/notebooks/quickstart.html): building blocks for neural networks
  - [HuggingFace](https://huggingface.co/): High-level abstractions to work with modern language models and computer vision models

- Versatility
- Support
  - Large community of active users
  - Modern generative language models can create useful fragments of code

## Variables and data types

- Variables are created using the = sign
- Basic data types in Python:
  - Strings: ```"Hi!"```
  - Integers: ```2```
  - Floats: ```4.4```
  - Booleans: ```True```

In [2]:
# defining variables in Python and exploring different data types
my_variable = 2
my_variable

2

In [3]:
my_string = "Hi everyone!"
my_float = 2.4
my_boolean = True

In [ ]:
# operations with numbers
2 + 2

4

In [ ]:
2*4

8

In [ ]:
2/2

1.0

In [ ]:
2**8

256

In [ ]:
my_math_operation = (2+2) * 8

In [ ]:
my_math_operation

32

In [4]:
# operations with strings
"Hi" + " " + "everyone" + "!"

'Hi everyone!'

In [5]:
"Hi"/"everyone"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [6]:
# False lo considera como 0 y true como 1:
False + False + True

1

In [ ]:
True*False

0

## Lists

- Basic object in Python to store multiple values together
- Represented by square brackets ```[ ]```

In [8]:
# create an empty list
empty_list = []

In [9]:
empty_list

[]

In [10]:
# create lists
integer_list = [2,3,4,5,6]

In [11]:
integer_list

[2, 3, 4, 5, 6]

In [12]:
string_list = ["john", "pedro", "juan", "nicolas"]

In [13]:
string_list

['john', 'pedro', 'juan', 'nicolas']

In [26]:
mixed_list = [2, 4.0, True, "Hi"]
mixed_list

[2, 4.0, True, 'Hi']

In [30]:
# get the first element of a list PONEMOS UN 0!, para el cuarto ponemos un 3!!!
mixed_list[0]

2

In [32]:
#To get the last element on the list
mixed_list[-1]

'Hi'

In [20]:
# change an element within a list
mixed_list[0] = 10

In [ ]:
mixed_list[-1] = "Hello"

In [ ]:
mixed_list

[10, 4.0, True, 'Hello']

In [ ]:
# add elements to a list
mixed_list + [4,6]

[10, 4.0, True, 'Hello', 4, 6]

In [ ]:
my_new_list = mixed_list + [4,6]
my_new_list

[10, 4.0, True, 'Hello', 4, 6]

In [33]:
# list of lists
my_list_of_lists = [[1,2,3], ["a", "b", "c"], [True, False]]

In [34]:
my_list_of_lists

[[1, 2, 3], ['a', 'b', 'c'], [True, False]]

## Dictionaries

- Represented by curly brackets ```{}```
- Consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value

In [35]:
# empty dictionary
my_dictionary = {}

In [36]:
my_dictionary

{}

In [37]:
# create a non-empty dictionary (groceries list). Key is bananas, the integer for that key is 10. Para que al referirnos a Bananas salga el factor 10.
my_groceries = {"bananas": 10, "apples": 1, "olive oil": 1}

In [38]:
my_groceries

{'bananas': 10, 'apples': 1, 'olive oil': 1}

In [39]:
# access elements of dictionaries
my_groceries["bananas"]

10

In [40]:
my_groceries["apples"]

1

In [41]:
# create a dictionary with integers as keys
my_numbers = {0: "zero", 1: "one", 2: "two"}

In [42]:
my_numbers

{0: 'zero', 1: 'one', 2: 'two'}

In [43]:
my_numbers[2]

'two'

In [45]:
# add new key-value pairs to dictionary
my_numbers[10] = "ten"

In [46]:
my_numbers

{0: 'zero', 1: 'one', 2: 'two', 10: 'ten'}

In [47]:
my_numbers[20] = "twenty"
my_numbers

{0: 'zero', 1: 'one', 2: 'two', 10: 'ten', 20: 'twenty'}

In [48]:
# access all keys
my_numbers.keys()

dict_keys([0, 1, 2, 10, 20])

In [49]:
# access all values
my_numbers.values()

dict_values(['zero', 'one', 'two', 'ten', 'twenty'])

## For loops and list comprehensions

In [55]:
# loop over elements of a list
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [52]:
for i in my_list:
  print(i)

1
2
3
4
5

In [53]:
#pero daría lo mismo poner en vez de i cualquier otro nombre.
for element in my_list:
  print(element)

1
2
3
4
5

In [57]:
#Primero creo la variable que sea igual a 0 y luego que haga la operación.
my_sum = 0
for k in my_list:
  #otra forma de escribir lo mismo: my_sum += k
  my_sum = my_sum + k

In [ ]:
my_sum

15

In [58]:
# loop over a range
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
# loop over a string
my_string = "Hello!"
for i in my_string:
  print(i)

H
e
l
l
o
!

In [ ]:
for k in "Hello!":
  print(k)

H
e
l
l
o
!

In [ ]:
# for loop in one line
for k in "Hello!": print(k)

H
e
l
l
o
!

In [ ]:
# list comprehension
my_list

[1, 2, 3, 4, 5]

In [ ]:
[i + 2 for i in my_list]

[3, 4, 5, 6, 7]

## Conditional statements

- We can use the ```if``` statement in Python to check if a logical condition is true
- Python supports basic logical operations such as:
    - Equal: ``` == ```
    - Not equal: ``` != ```
    - Greater than: ``` > ```
    - Smaller than: ``` < ```
- After an ```if``` statement we can also use ```elif``` (i.e. else + if) and ```else``` to specify what happens when none of the logical conditions are true

In [ ]:
# basic if statement
if 2 > 1:
  print("Yeeees!")

Yeeees!

In [59]:
if "Hello" == "Helo":
  print("They are the same")

In [60]:
if "Hello" != "Helo":
  print("They are not the same")

They are not the same

In [61]:
a = 10
b = 20

if a < b:
  print("a is smaller than b")

a is smaller than b

In [62]:
# if + else statement
if a == b:
  print("They are equal")
else:
  print("They are not equal")

They are not equal

In [ ]:
if a > b:
  print("a greater than b")
else:
  print("a is not greater than b")

a is not greater than b

In [ ]:
# if + elif + else statement
if a > b:
  print("a greater than b")
elif a == b:
  print("a equal to b")
else:
  print("a not greater and not equal to b")

a not greater and not equal to b

## Functions

- A function is a re-usable block of code that performs one or multiple operations. Functions usually take inputs and return outputs.
- Python has a set of basic pre-built functions. [Here](https://www.w3schools.com/python/python_ref_functions.asp) is a full list but some of the most used are:
  - ```print( )```
  - ```len( )```
  - ```abs( )```, ```max( )```, ```min( )```
  - ```range( )``` <br><br>

- Additional functions can be brought to Python by importing packages
- Functions can also be defined by the user using the ``` def my_function():``` syntax

In [ ]:
# example of pre-built functions
print("Something!")

Something!

In [ ]:
len([1,2,3,4])

4

In [ ]:
len("Something!")

10

In [ ]:
len()

TypeError: ignored

In [ ]:
abs(-10)

10

In [ ]:
max([10,200,5,300])

300

In [ ]:
# functions from objects
my_dictionary = {"bananas": 10, "apples": 20}
my_dictionary

{'bananas': 10, 'apples': 20}

In [ ]:
my_dictionary.keys()

dict_keys(['bananas', 'apples'])

In [ ]:
my_dictionary.values()

dict_values([10, 20])

In [ ]:
my_string = "HELLO!"
my_string

'HELLO!'

In [ ]:
my_string.lower()

'hello!'

In [ ]:
my_string = "Hello world !"
my_string.split()

['Hello', 'world', '!']

In [ ]:
# define my own function
def my_function(x):
  result = x*2
  return result

In [ ]:
my_function(10)

20